<div class="form-group">
  <%= f.label :rates %>
    <%= f.text_field :rates,
                     class: 'form-control',
                     placeholder: "Enter labels (separated by commas)",
                     value: "#{rate}" %>
  </div>
